@mixin font-face($font-family, $file-name, $font-weight: normal, $font-style: normal) {
    @font-face {
        font-family: $font-family;
        font-weight: $font-weight;
        font-style: $font-style;
        src: url('/assets/fonts/#{$file-name}.eot');
        src: url('/assets/fonts/#{$file-name}.eot?#iefix') format('embedded-opentype'), 
            url('/assets/fonts/#{$file-name}.woff') format('woff'), 
            url('/assets/fonts/#{$file-name}.woff2') format('woff2'), 
            url('/assets/fonts/#{$file-name}.ttf') format('truetype');
    }
}

@mixin media($minmax, $media) {
  @if($minmax == 'min') {
    @each $size, $resolution in $sizes-min {
      @if $media == $size {
        @media (#{$minmax}-width: $resolution) {
          @content;
        }
      }
    }
  }
  @if($minmax == 'max') {
    @each $size, $resolution in $sizes-max {
      @if $media == $size {
        @media (#{$minmax}-width: $resolution) {
          @content;
        }
      }
    }
  }
}