<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
        <meta name="robots" content="noindex, nofollow"/>

        <link rel="stylesheet" href="/assets/css/libs.min.css">
        <link rel="stylesheet" href="/assets/css/sprite.css">
        <link rel="stylesheet" href="/assets/css/app.css">
        <title>
            Company Name | {{ page_title | safe }}
        </title>
    </head>
    <body>
        {% include "components/header/header.njk" %}
        <main class="{{ main_class if main_class else 'inner-page' }}"
        >
            {% block content %}{% endblock %}
        </main>
        {% include "components/footer/footer.njk" %}

        {# MODALS #}
        {% block modal %}{% endblock %}
        
        {# SCRIPTS #}
        <script src="/assets/js/libs.min.js"></script>
        <script src="/assets/js/app.js"></script>
    </body>
</html>

